<div class="container">
  <header class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom">
    <a href="/" class="d-flex align-items-center col-md-3 mb-2 mb-md-0 text-dark text-decoration-none">
      <img class="bi me-2" width="70" height="52" role="img" aria-label="Bootstrap" src="assets/logo.png"/>
    </a>

    <h2 class="justify-content-center">Quiz de révision des examens FEDE</h2>

    <div class="col-md-3 text-end">
      <a href="/" class="btn btn-outline-primary me-2">Nouveau Quiz!</a>
      <a type="button" class="btn btn-primary">Me faire un don</a>
    </div>
  </header>
</div>
