<div class="container mt-5">
  <div class="card">
    <div class="d-flex justify-content-between p-3">
      <div>
        <img style="margin: 20% 20% 20% 20%;" src="assets/quiz.png" alt="" width="70" height="35" class="d-inline-block align-text-top">
      </div>
      <div class="quiz-header">
        <h4 style="font-family: Calibri"><strong>QUIZ</strong> en {{matiere}} <br/>  Classe: {{classe}} <br/></h4>
        <span style="font-style: italic"> Bienvenue  {{name}},</span>
      </div>
    </div>
    <ng-container *ngIf="!isQuizCompleted">
      <div class="d-flex justify-content-around py-3">
        <div class="score">
          <h5>{{points}} Points</h5>
        </div>
        <div class="question-remain">
          <span style="font-style: italic">Question {{currentQuestion+1}} sur {{questionList.length}}</span>
        </div>
        <div class="timer">
          <h5>{{counter}} sec 🕐</h5>
        </div>
      </div>
      <div class="progress mb-3">
        <div class="progress-bar progress-bar-striped" role="progressbar" [ngStyle]="{'width':progress+'%'}" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100"></div>
      </div>
      <div class="question">
        <div class="card">
          <h3>{{questionList[currentQuestion]?.questionText}}</h3>
        </div>
      </div>
      <div class="options">
        <ol *ngFor="let option of questionList[currentQuestion]?.options">
          <li (click)="answer(currentQuestion+1, option)">
            <div appChangeBg [isCorrect]="option.correct" class="card">
              {{option.text}}
            </div>
          </li>
        </ol>
      </div>
      <div class="d-flex justify-content-between">
        <button class="btn" (click)="previousQuestion()" [disabled]="currentQuestion===0"><i class="fa text-primary fa-chevron-left fa-3x" aria-hidden="true"></i> </button>
        <button class="btn" (click)="resetQuiz()"><i class="fa text-primary fa-refresh fa-3x" aria-hidden="true"></i> </button>
        <button class="btn" (click)="nextQuestion()" [disabled]="currentQuestion===questionList.length-1"><i class="fa text-primary fa-chevron-right fa-3x" aria-hidden="true"></i> </button>
      </div>
    </ng-container>
    <ng-container *ngIf="!isQuizEnable">
      <div class="row d-flex justify-content-between">
        <img  style="width: 50%" class="img-fluid col-sm-12 mx-auto"  src="https://www.iberica-estates.com/images/404-error.png" alt="">
        <div class="result text-center col-md-6 col-sm-12">
          <h3>Désolé!! <br>Le Quiz demandé n'est pas encore disponible.</h3>
          <h4>Veuillez réessayer ultérirement</h4>
          <a href="/" class="btn btn-primary btn-lg">Retour</a>
        </div>
      </div>
    </ng-container>
    <ng-container *ngIf="isQuizCompleted">
      <div class="row d-flex justify-content-between">
        <img  style="width: 50%" class="img-fluid col-sm-12 mx-auto"  src="https://cdn.iconscout.com/icon/free/png-256/celebration-party-popper-tada-decoration-christmas-38099.png" alt="">
        <div class="result text-center col-md-6 col-sm-12">
          <h3>Félicitations!! <br>Le Quiz est terminé. <br>Vos résultats: </h3>
          <p>Nombre de questions : {{questionList.length}}</p>
          <p>Nombre des bonnes réponses : {{correctAnswer}}</p>
          <p>Nombre des mauvaises réponses: {{inCorrectAnswer}}</p>
          <p>Votre score : {{points}}</p>
        </div>
      </div>
    </ng-container>
  </div>
</div>
