<div class="container bg-light py-5">
  <h1 class="display-5 fw-bold">Bienvenue au QUIZ!</h1>
  <p class="col-md-8 fs-4">Ce Quiz contient 20 questions, chaque question vaut 10 points</p>
  <h4>Les règles:</h4>
  <ol>
    <li>Bonne réponse: 10 points</li>
    <li>Mauvaise réponse: 0 points</li>
    <li>Vous avez 🕐 60 secondes pour répondre au quiz</li>
    <li>Actualiser la page réinitialisera le quiz</li>
  </ol>
  <h1 style="font-family: Harrington; text-align: center">Bonne chance!</h1>
  <form>
      <div class="row">
        <div class="name col-md-4 my-3">
          <label for="name">Entrez votre nom <span style="color: red" *ngIf="nameModel.errors">*</span></label>
          <input type="text" id="name" name="name" [(ngModel)]="myName"  class="form-control form-control-lg" #nameModel="ngModel"  #name required />
        </div>
        <div class="name col-md-4 my-3">
          <label>Choisissez votre classe <span style="color: red">*</span></label>
          <select #classe class="form-select" aria-label="Default select example" name="niveau">
            <option value="MITBIG">Mastère européen Expert IT – Applications intelligentes et Big Data</option>
            <option value="MITCYB">Mastère européen Expert IT – Cybersécurité et Haute disponibilité</option>
          </select>
        </div>
        <div class="name col-md-4 my-3">
          <label >Choisissez la matière <span style="color: red">*</span></label>
          <select #matiere class="form-select" aria-label="Default select example" name="matiere">
            <option value="D411">D41.1: Conduite et management de projet informatique - Fondamentaux</option>
            <option value="D412BG">D41.2: Développement et base de données - Fondamentaux</option>
            <option value="D412RES">D41.2: Réseaux, systèmes et sécurité - Fondamentaux</option>
            <option value="D51.1">D51.1: Conduite et management de projet informatique - Perfectionnement</option>
            <option value="D512BG">D51.2: Développement et base de données - Perfectionnement</option>
            <option value="D512RES">D51.2: Réseaux, systèmes et sécurité - Perfectionnement</option>
            <option value="A45">A4/5: Les entreprises, la concurrence et l’Europe</option>
          </select>
        </div>
      </div>


  <button class="btn btn-primary btn-lg" routerLink="/question" [disabled]="myName === ''" (click)="startQuiz()">Commencer le Quiz!!</button>
  </form>


</div>
